<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Weather App</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    
    <nav id="navbar">
        <div id="logo">Weather App</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </nav>

    <section id="content">
        <h1>Weather App</h1>
        <form action="/" method="POST">
            <h3>Enter the Place and Know the weather there.</h3>
            <input type="text" name="cityName" id="cityName" placeholder="Enter the City Name" autocomplete="off">
            <button type="submit">Submit</button>
        </form>
    </section>

    <footer>Copyright &copy; My Weather App</footer>

</body>
</html>